body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
}

p {
    font-size: 1.6em;
    line-height: 1.6em;
}

h1 {
    font-size: 3.6em;
}

/* Bakgrund till navigatinsfältet */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
}

/* Styla länkarna i navigationsfältet */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.8em;
}

/* Byter utseende på länkarna när man håller musen över dom */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

/* Gör att länken till den aktiva sidan har en annan bakgrund än resten */
.topnav a.active {
    background-color: #333;
    color: white;
}

/* Döljer länken till den utfällbara menyn på stor skärmbredd */
.icon {
    display: none;
}

.sidenav {
    z-index: 2;
    background-color: #333;
    position: absolute;
    box-shadow: 0px 0px 5px #000000;
    right: 0;
    top: 0;
    height: 100vh;
    width: 400px;
    max-width: 100vw;
    display: none;
}

.sidenav a {
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.8em;
}

.överskrift {
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
}

#container1 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#container2 {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    min-height: 80vh;
}

#container3 {
background-color: #333;
}

table {
    width: 100%;
    margin: 0;
    font-size: 1.4em;
    border-collapse: collapse;
}

thead td {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
}

thead td:hover {
color: rgb(0, 0, 0);
}

tr {
    font-size: 1.2em;
    border-bottom: 1px solid black;
}

/*För bilderna på bildsidan*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* Skapar fyra kolumner som bilderna sitter i */
.column {
    flex: 50%;
    max-width: 48%;
    padding: 0 1%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

ul {
    font-size: 1.6em;
    line-height: 1.6em;
}

#searchbar {
    width: 100%;
    height: 30px;
    font-size: 1.6em;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    min-height: 20vh;
}

footer p {
    color: #f2f2f2;
    padding: 30px;
    padding-bottom: 0;
    text-align: center;
    line-height: 1.6em;
}

footer a {
    display: block;
    font-size: 1.6em;
    color: #f2f2f2;
    padding: 10px;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* Inställningar för när skärmbredden är mindre än 600px */
@media screen and (max-width: 650px) {

    /*Döljer alla länkar i menyn förutom den första*/
    .topnav a:not(:first-child) {
        display: none;
    }

    /*Sätter menyikonen som synlig och placerar den till höger*/
    .icon {
        float: right;
        display: block;
        border-style: none;
        color: #f2f2f2;
        background-color: #333;
        font-size: 2.2em;
        padding: 10px 12px;
    }

    .column {
        flex: 100%;
        max-width: 80%;
        padding: 0 10%;
    }

    #container1 {
        width: 80vw;
        font-size: 0.8em;
    }

    #container2 {
        width: 90vw;
    }

    thead td {
        font-size: 1em;
    }
    
    tr {
        font-size: 1em;        
    }
    

}

@media screen and (max-width: 400px) {
   
    .överskrift {
        font-size: 2.4em;
    }

    footer {
        font-size: 0.8em;
    }

    .sidenav {
        width: 100vw;
    }

    .column {
        flex: 100%;
        max-width: 98%;
        padding: 0 1%;
    }

    thead td {
        font-size: 0.8em;
    }
    
    tr {
        font-size: 0.8em;        
    }
}